In [ ]:
# Importing required Packages
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

In [ ]:
# Read Loan Dataset
df = pd.read_csv("train.csv")
df.head()

## Feature Engineering

### Create a new feature : Total_Income = Applicant Income + Coapplicant Income

In [ ]:
df.head()

### Create a new feature : Loan Amount to Total Income

In [ ]:
## Loan Amount to Total Income Ratio

### Create a new feature : Income group by binning Total income <br>

**Condition :** <br>
<li>If total income is less than 5000 -------------------------> Low Income group <br>
<li>If total income is more than 5000 but less than 10000 -----> Medium Income group <br>
<li>If total income is more than 10000 ------------------------> High Income group

In [ ]:
df.shape[0]

### Create a new feature : Stable group by using Multiple columns <br>

**Condition :** <br>
<li>If a applicant is married,graduate and not self employed ----> Stable <br>
<li> Else  ---------------------------------------------------------------> Unstable

In [ ]:
df.head()

## Group By

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

### Load data and assign it to a variable called drinks.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

In [ ]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

drinks = pd.read_csv(url)

In [ ]:
drinks.head()

In [ ]:
#Frequency of Observation in each continent

### Inputs Parameters<br><br>

<li><b>Primary key column name :</b><br>
<li><b>Target column :</b> <br>
<li><b>agg func :</b> min ; max ; mean ; median etc<br>

### Which continent drinks more beer on average?

### Which continent drinks minimum wine ?

### Which continent drinks max alcohol ?

## Exercise

Read data from below url :
#url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
#sep = '|'
#index_col ='user_id'

df_test = pd.read_csv(url,sep="|",index_col='user_id)

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
df_test = pd.read_csv(url,sep="|",index_col='user_id')
df_test.head()

### In each Occupation ,what is the average age ?

### In each gender ,what is the min age ?

### For each combination of occupation and gender, calculate the mean age ?

## Join two dataframes

### Using Concatenate function

In [ ]:
Div_1 = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})


Div_2 = pd.DataFrame({
        'roll_no': ['6', '7', '8', '9', '10'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

In [ ]:
Div_1

In [ ]:
Div_2

#### Join both the tables on top of each other

### New Data

In [ ]:
English

In [ ]:
Maths

#### Join both the subjects marks

In [ ]:
English = pd.DataFrame({
        'roll_no': ['2', '1', '3', '4', '5','6'],
#         'name': ['Amy', 'Alex', 'Allen', 'Alice', 'Ayoung','Rahul'], 
        'english': [56,78,65,89,94,88]})


Maths = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5','7'],
#         'name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung','Ganesh'], 
        'maths': [65,26,78,59,75,87]})

In [ ]:
English

In [ ]:
Maths

## Merge

### Inputs Parameters<br><br>

<li><b>Left dataframe :</b> 1st Dataframe <br>
<li><b>Right dataframe :</b> 2nd Dataframe <br>
<li><b>on :</b> Primary key<br>
<li><b>how :</b> inner/outer/left/right<br>

In [ ]:
Image('joins.png')